[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch-cpu"

[packages]
fastapi = "*"
uvicorn = "*"
openai = "*"
python-dotenv = "*"
motor = "*"
pyjwt = "*"
pydantic = { extras = ["email"], version = "*" }
passlib = "*" 
bcrypt = "*"
redis = "*"
torch = { version = "*", index = "pytorch-cpu" }
weaviate = "*"
weaviate-client = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
start = "uvicorn app.app:app --reload --host 0.0.0.0 --port 8000"
